---
import { getCollection, getEntry, render } from "astro:content";
import { getManual, parseManualCollectionId } from "../../utils/manuals";

import ManualLayout from "../../layouts/ManualLayout.astro";
import ArchivedBanner from "../../components/ArchivedBanner.astro";
import ManualBreadcrumb from "../../components/ManualBreadcrumb.astro";
import ManualNav from "../../components/ManualNav.astro";
import MarkdownEnhancements from "../../components/MarkdownEnhancements.astro";
import ManualPageNav from "../../components/ManualPageNav.astro";

export async function getStaticPaths() {
  const manualCollection = await getCollection("manualsPages");
  return manualCollection.map((manual) => {
    const { group, slug, title } = parseManualCollectionId(manual.id, true);
    return {
      params: {
        slug: slug === "home" ? group : `${group}/${slug}`,
      },
      props: {
        id: manual.id,
        group,
        title,
        slug,
      },
    };
  });
}

const { id, group, slug, title } = Astro.props;

const manualPage = await getEntry("manualsPages", id);
if (!manualPage) {
  return Astro.redirect("/manuals");
}

const manual = await getManual(group);
if (!manual) {
  return Astro.redirect(`/manuals`);
}

const { Content } = await render(manualPage);

// Options for rendering the page
const pageTitle = `${manual.description ? manual.description : manual.title}${
  title && title !== "Home" ? ` - ${title}` : ""
}`;
const isArchived = manual.status.includes("archived");
---

<ManualLayout title={pageTitle}>
  {isArchived && <ArchivedBanner dateArchived={manual.dateArchived} />}
  <header class="w-full">
    <ManualBreadcrumb id={manualPage.id} />
    <ManualNav id={manualPage.id} />
  </header>
  <main role="main" aria-label="Main content" class="mt-8 flex-1 md:mt-6">
    <section
      aria-labelledby="manual-heading"
      class={isArchived ? "mt-12 md:mt-16" : ""}
    >
      <h2 class="sr-only" id="manual-heading">
        {manual.title} - {title}
      </h2>

      <div
        id="content"
        class="markdown-content mx-auto w-full max-w-3xl p-4 leading-relaxed break-words"
      >
        <Content />
      </div>

      <ManualPageNav id={manualPage.id} />
    </section>
  </main>
  <MarkdownEnhancements />
</ManualLayout>
